!.gitignore

# visual studio files
/.vscode/

# python
__pycache__/
*.cprofile
*.pyc

# saved data files
/demo_saved_data/

# mag calibration algorithm camke dir
/demo_algorithms/mag_calibrate_src/cmake/

gnss_ins_sim.egg-info/
